definitions:
  ChannelEntity.Channel:
    properties:
      avatar:
        type: string
      birthday:
        type: string
      channelUrl:
        type: string
      company:
        type: string
      debutDate:
        type: string
      height:
        type: number
      info:
        $ref: '#/definitions/ChannelEntity.Info'
      name:
        type: string
      twitterAccount:
        type: string
      unit:
        type: string
    type: object
  ChannelEntity.Hashtag:
    properties:
      fanArt:
        type: string
      streamTag:
        type: string
    type: object
  ChannelEntity.Info:
    properties:
      fanName:
        type: string
      hashtags:
        $ref: '#/definitions/ChannelEntity.Hashtag'
    type: object
info:
  contact: {}
  description: Oshi-api swagger
  license:
    name: MIT
    url: https://www.mit.edu/~amini/LICENSE.md
  title: Oshi-api
  version: "1.0"
paths:
  /api/v1/channels:
    get:
      consumes:
      - application/json
      description: Get channels by filters
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/ChannelEntity.Channel'
            type: array
      summary: Get Channels
      tags:
      - Channels
  /api/v1/channels/{twitterAccount}:
    get:
      consumes:
      - application/json
      description: Show channel info
      parameters:
      - description: Twitter Account
        in: path
        name: twitterAccount
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ChannelEntity.Channel'
        "404":
          description: Not Found
          schema:
            type: string
      summary: Get Channel By Twitter Account
      tags:
      - Channels
swagger: "2.0"
